<div class="navbar footer">
  <div class="container">
      <div class="col-md-6 legal">
        <span>© 2020-2025 Marques Ltd.</span>
      </div>
      <div class="col-md-6 social">
        <a href="https://github.com/pepcmarques/circularis" target="_blank" data-toggle="tooltip" title="Github" data-placement="top">
          <span class="fab fa-github"></span>
        </a>
        <a href="https://twitter.com/pepcmarques" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="top">
          <span class="fab fa-twitter"></span>
        </a>
        <a href="https://youtube.com/pepcmarques/" target="_blank" data-toggle="tooltip" title="Youtube" data-placement="top">
          <span class="fab fa-youtube"></span>
        </a>
        <a href="https://plus.google.com/+pepcmarques/" target="_blank" data-toggle="tooltip" title="Google+" data-placement="top">
          <span class="fab fa-google-plus"></span>
        </a>
      </div>
  </div>
</div>
