<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
      <a href="{% url 'core:index' %}" class="navbar-brand value-brand">Marpole Virtual Walk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              {% if user.is_authenticated %}
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'walk:home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'walk:dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'walk:add-walk' %}">Add Walk <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <span class="navbar-text username-divider"></span>
                </li>

                <li>
                  <span class="navbar-text">Hi {{ request.user.username }}</span>
                </li>

                <span class="navbar-text username-divider"></span>

                <li>
                  <a href="{% url 'logout' %}">
                      <div style="margin-top: 5px;">
                        <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Sign out">
                          <span class="navbar-text"><i class="fas fa-sign-out-alt"></i></span>
                        </span>
                      </div>
                  </a>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav mr-auto">
              </ul>
              <span class="navbar-text"><a href="{% url 'accounts:login' %}" class="nav-link">Sign in</a></span>
              <span class="navbar-text username-divider"></span>
              <span class="navbar-text"><a href="{% url 'accounts:signup' %}" class="nav-link" style="margin-right: 5px;">Sign up</a></span>
            {% endif %}
          </div>
    </div>
  </nav>
</header>