<!-- templates/dashboard.html -->
{% extends 'core/base.html'%}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div>
    <div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time (minutes)</th>
                <th scope="col">Distance (Km)</th>
            </tr>
            </thead>
            <tbody>
            {% for walk in walks %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{walk.walkDate}}</td>
                <td>{{walk.minutes}}</td>
                <td>{{walk.distance}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <canvas id="walk-chart" data-url="{% url 'walk:walk-chart' %}"></canvas>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script>
    $(function () {

      var $walkChart = $("#walk-chart");
      $.ajax({
        url: $walkChart.data("url"),
        success: function (data) {

          var ctx = $walkChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'walk',
                backgroundColor: '#327838',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Walk Bar Chart'
              },
              scales: {
                  yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: .5
                    }
                  }]
              }
            }
          });

        }
      });

    });
</script>

{% endblock javascript %}