<!-- templates/dashboard.html -->
{% extends 'core/base.html'%}

{% load crispy_forms_tags %}

{% load static %}
{% load custom_filters %}

{% block content %}

<div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 200 60">
            <path fill-opacity="0" stroke-width="2" stroke="#bbb" d="M10,10h180v10h-180v10h180v10h-180v10h180"/>
            <path id="walk-path" fill-opacity="0" stroke-width="3" stroke="#327838" d="M10,10h180v10h-180v10h180v10h-180v10h180"/>
        </svg>
    </div>
    <div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th style="width: 10%" scope="col">#</th>
                <th style="width: 10%" scope="col">Image</th>
                <th style="width: 30%" scope="col">Name</th>
                <th style="width: 50%" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for point in points %}
                {% with next_element=points|next:forloop.counter0 %}
                {% if walked_distance >= point.cumsum %}
                <tr>
                    <td style="vertical-align: middle;" scope="row">{{forloop.counter}}</td>
                    <td  style="vertical-align: middle;" ><img src="{% static 'img/points/' %}{{ point.picture_name }}" width="100px" /></td>
                    <td style="vertical-align: middle;">{{point.name}}</td>
                    <td style="vertical-align: middle;">
                        {{point.description}}.<br />
                        {% if next_element %}
                            Next stop is <b>{{next_element.name}}</b>.
                        {% else %}
                            This is your last stop! Thank you for participating on Marpole Virtual Walk.
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block javascript %}

{{ walked_distance|json_script:"walked" }}
{{ goal_distance|json_script:"goal" }}

<script>
var bar = new ProgressBar.Path('#walk-path', {
    easing: 'easeInOut',
    duration: 1400
});

const walked_distance = JSON.parse(document.getElementById('walked').textContent);
const total = JSON.parse(document.getElementById('goal').textContent);;

var percent = (walked_distance * 1) / total

if (percent > 1) {
    percent = 1;
}

bar.set(0);
bar.animate(percent);  // Number from 0.0 to 1.0
</script>

{% endblock javascript %}
